:root{
    --paleteColor1:#f5eec2;
    --paleteColor2:#73a24e;
    --paleteColor3:#39395f;
    --paleteColor4:#a9c25d;
    --paleteColor5:#416a59;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: var(--paleteColor2);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header div p{
    font-size:3.5rem; 
    color: var(--paleteColor3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   
}
main{
    width: 100vw;
    height: 85vh;
    background-color: var(--paleteColor1);
    display: flex;
    flex-wrap: wrap;

}

.info_contacto{
    width: 50vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen_personal{
    width: 23vw;
    height: 50vh;
    margin-top: 4.5rem;

}
.imagen_personal img{
    width: 23vw;
    height: 50vh;
    border-radius: 1rem;

}
.datos_contacto{
    width: 23   vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
}
.contacto{
    width: 23vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;

}
.contacto img{
    width: 2.5vw;
    height: 2.5vw;

}
h2{
    font-size: 2.5rem;
    color: var(--paleteColor3);
    
}
.contacto a{
    width: 2.5vw;
    font-size: 2rem;
    margin-left: 1rem;
}

.info_personal{
    width: 50vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 4.5rem;
    margin-top: 6.5rem;
    color: var(--paleteColor3);
}
.Parrafos{
    width: 40vw;
    height: 50vh;
}
.Parrafos p{
    font-size: 2.5rem;
    text-align: justify;
    padding-top: 1.5rem;
    color: var(--paleteColor5);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
a{
    outline: none;
    text-decoration: none;
    color: var(--paleteColor5);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}
b{
    color: var(--paleteColor3);
}




footer{
    width: 100vw;
    height: 5vh;
    background-color: var(--paleteColor4);
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: end;

}
footer p{
    font-size:2.5rem;
    color: var(--paleteColor3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}